@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.container {
  max-width: 1200px;
  margin: 0 auto;
  background: blanchedalmond;
}

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
   &__logo-img {
      width: 100px;
      height: 100px;
   }
      &__search {
         width: 200px;
            &-input {
               width: 100%;
            }
      }

      &__text {
         width: 500px;
         &-list {
            display: flex;
            justify-content: space-between;
         }
      }
}

